In [21]:
import pandas as pd
import numpy as np

In [16]:
con = r'C:\Users\Wabinyai\Google Drive\Air polutions\1\2018\Pollution2018\2.csv'
data = pd.read_csv(con, parse_dates = ['date'])
print data.head()

                 date        PM25        PM10  latitude  longitude
0 2017-11-26 14:00:00   39.691667  128.114231       NaN  32.581207
1 2017-11-26 15:00:00   74.743077   94.260545       NaN  32.599594
2 2017-11-26 16:00:00   34.048000   95.647797       NaN  32.582855
3 2017-11-26 17:00:00   51.819831  128.344792       NaN  32.573855
4 2017-11-26 18:00:00  500.000000  286.226923       NaN  32.576549

In [37]:
#Fill in missing values with the mean value
data.PM25 = data.PM25.fillna(data.PM25.mean())
#data.latitude = data.latitude.fillna(data.latitude.mean())

In [33]:
data.max()

date         2018-01-13 09:00:00
PM25                         500
PM10                      548.76
latitude                    1000
longitude              32.582855
dtype: object

In [40]:
data.to_csv('C:/Users/Wabinyai/Google Drive/Air polutions/1/2018/Pollution2018/clean.csv', encoding='utf-8')

In [18]:
data.longitude = data.longitude.fillna('32.582855')

In [23]:
#replace values over 550 with 505
data["PM10"] = np.where(data["PM10"] >550, 505,data['PM10'])

In [24]:
data["PM10"].max()

548.75999999999999

In [29]:
data.PM10 = data.PM10.fillna(data.PM10.median())

In [31]:
data.PM10.mean()

119.05139212714847

In [34]:
data["latitude"] = np.where(data["latitude"] >2, 0.3476,data['latitude'])

In [35]:
data["longitude"] = np.where(data["longitude"] >32.582855, 32.582855,data['longitude'])

In [39]:
data.latitude = data.latitude.fillna('0.3476')

In [47]:
new = r'C:/Users/Wabinyai/Google Drive/Air polutions/1/2018/Pollution2018/clean.csv'

In [48]:
data1 = pd.read_csv(new, parse_dates = ['date'])
data1.describe()

               id         PM25         PM10      latitude    longitude
count  1146.00000  1146.000000  1146.000000  1.146000e+03  1146.000000
mean    572.50000    60.683515   119.051392  3.476000e-01    32.483659
std     330.96601    44.224545    48.101013  5.553539e-17     1.036192
min       0.00000     5.582593    11.494074  3.476000e-01    10.860566
25%     286.25000    60.683515   119.051392  3.476000e-01    32.582855
50%     572.50000    60.683515   119.051392  3.476000e-01    32.582855
75%     858.75000    60.683515   119.051392  3.476000e-01    32.582855
max    1145.00000   500.000000   548.760000  3.476000e-01    32.582855

In [49]:
data1.corr()

                 id          PM25          PM10      latitude     longitude
id         1.000000 -9.127124e-02 -6.506516e-02  0.000000e+00  2.760060e-02
PM25      -0.091271  1.000000e+00  1.030166e-01 -1.350697e-15 -2.013237e-02
PM10      -0.065065  1.030166e-01  1.000000e+00  4.497850e-14  5.321061e-03
latitude   0.000000 -1.350697e-15  4.497850e-14  1.000000e+00 -3.793698e-13
longitude  0.027601 -2.013237e-02  5.321061e-03 -3.793698e-13  1.000000e+00

In [51]:
print data1.shape

(1146, 6)

In [64]:
date = data1['date']
pm = data1['PM25']
#print pm
data2 = pd.DataFrame({'date': data1['date'],
                     'TYPE':data1['PM25'] })
#print data.head()
#PRINT Dailly average data
daily = data2.set_index('date').groupby(pd.TimeGrouper(freq='D'))['TYPE'].mean()
monthly = daily.groupby(pd.TimeGrouper(freq='D')).mean()
monthlys = monthly.dropna(axis=0)
print monthlys
print monthlys.shape

date
2017-01-12     65.108179
2017-02-12     67.835276
2017-03-12     51.234256
2017-04-12     57.327598
2017-05-12     60.683515
2017-06-12     60.683515
2017-07-12     60.683515
2017-08-12     79.239326
2017-09-12     49.966100
2017-10-12     59.429580
2017-11-12     55.197497
2017-11-26    101.580501
2017-11-27     88.025441
2017-11-28     77.080057
2017-11-29     49.596894
2017-11-30    104.144865
2017-12-12     60.683515
2017-12-13     62.717702
2017-12-14     60.683515
2017-12-15     62.009234
2017-12-16     60.683515
2017-12-17     60.683515
2017-12-18     59.544618
2017-12-19     60.683515
2017-12-20     57.549696
2017-12-21     45.103600
2017-12-22     60.683515
2017-12-23     62.410838
2017-12-24     47.228604
2017-12-25     46.667994
2017-12-26     41.314982
2017-12-27     60.683515
2017-12-28     52.303493
2017-12-29     60.683515
2017-12-30     60.683515
2017-12-31     60.683515
2018-01-01     60.683515
2018-01-13     56.154743
2018-02-01     60.683515
2018-03-01     60.683515
2018-04-01     59.860201
2018-05-01     60.683515
2018-06-01     63.289030
2018-07-01     60.683515
2018-08-01     59.502618
2018-09-01     56.865485
2018-10-01     60.102659
2018-11-01     56.125443
2018-12-01     53.808526
Name: TYPE, dtype: float64
(49,)

In [55]:
#PRINT weekly average data
daily = data2.set_index('date').groupby(pd.TimeGrouper(freq='D'))['TYPE'].mean()
monthly = daily.groupby(pd.TimeGrouper(freq='W')).mean()
monthlys = monthly.dropna(axis=0)
print monthlys
print monthlys.shape

date
2017-01-15     65.108179
2017-02-12     67.835276
2017-03-12     51.234256
2017-04-16     57.327598
2017-05-14     60.683515
2017-06-18     60.683515
2017-07-16     60.683515
2017-08-13     79.239326
2017-09-17     49.966100
2017-10-15     59.429580
2017-11-12     55.197497
2017-11-26    101.580501
2017-12-03     79.711814
2017-12-17     61.243499
2017-12-24     56.172055
2017-12-31     54.717218
2018-01-07     60.683515
2018-01-14     56.154743
2018-02-04     60.683515
2018-03-04     60.683515
2018-04-01     59.860201
2018-05-06     60.683515
2018-06-03     63.289030
2018-07-01     60.683515
2018-08-05     59.502618
2018-09-02     56.865485
2018-10-07     60.102659
2018-11-04     56.125443
2018-12-02     53.808526
Name: TYPE, dtype: float64
(29,)

In [63]:
#PRINT monthly average data
#(['M', 'A', 'Q', 'BM', 'BA', 'BQ', 'W'])
daily = data2.set_index('date').groupby(pd.TimeGrouper(freq='D'))['TYPE'].mean()
monthly = daily.groupby(pd.TimeGrouper(freq='A')).mean()
monthlys = monthly.dropna(axis=0)
print monthlys
print monthlys.shape

date
2017-12-31    61.986167
2018-12-31    59.163560
Freq: A-DEC, Name: TYPE, dtype: float64
(2,)